<?php

use Illuminate\Database\Seeder;

class AuthClientsTableSeeder extends Seeder
{
    /**
     * Run the database seeds.
     *
     * @return void
     */
    public function run()
    {
        DB::table('oauth_clients')->insert([
            'id'                     => {{ passport_password_client_id     }},
            'name'                   => "{{ passport_name                  }}",
            'secret'                 => "{{ passport_secret                }}",
            'revoked'                => {{ passport_revoked                }},
            'redirect'               => "{{ passport_redirect              }}",
            'password_client'        => {{ passport_password_client        }},
            'personal_access_client' => {{ passport_personal_access_client }},
        ]);
    }
}
